<footer class="footer mt-auto py-2 bg-light fixed-bottom">
  <div class="container d-flex justify-content-center p-1 link-dark">
    <p class="p-2">Visite nossas redes sociais</p>
    <a href="https://github.com/karenbanci" target="_blank" class="fs-2 link-dark px-2">
    <i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/kakabanci/" target="_blank" class="fs-2 link-dark px-2">
    <i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/banci.kakis/" target="_blank" class="fs-2 link-dark px-2">
    <i class="fab fa-facebook"></i></a>
  </div>
</footer>
