<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="/images/kaka.png" alt="" width="50" height="50" class="rounded-circle d-inline-block align-text-top">
    </a>
    <%= link_to "create", new_list_path, class:'btn btn-outline-dark'%>
  </div>
</nav>
